---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}
/* Change the banner background */
.site-header {
    background-image: url('{{ "/images/banner_1.jpg" | relative_url }}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent !important;
}

