---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}
/* Change the banner background */
.site-header {
    background-image: url('https://philalain.github.io/docs/images/banner_1.jpg') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent !important;
}
body {
    background-color: red !important;
}

